/* Path: src/style.css */
@font-face {
    font-family: 'Open Sauce';
    src: url('./assets/fonts/opensauce.woff2') format('woff2'),
      url('./assets/fonts/opensauce.woff') format('woff');
}

@font-face {
    font-family: 'Garet';
    src: url('./assets/fonts/garet.woff2') format('woff2'),
      url('./assets/fonts/garet.woff') format('woff');
}

:root {
    --dark-brown: rgb(87,39,19);
    --dirty-white: rgb(255,250,239);
    --tan: rgb(194,169,152);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    position: absolute;
    font-family: 'Open Sauce', sans-serif;
    font-size: 1.2rem;
}

header,
header > div,
nav > ul {
    display: flex;
}

header {
    background-color: var(--dark-brown);
    color: var(--dirty-white);
    padding: 0.65rem 1rem;

    justify-content: space-between;
}

header > div,
nav > ul {
    align-items: center;
}

nav > ul {
    cursor: pointer;
    list-style: none;
    gap: 3rem;
    font-size: 1.3rem;
}

nav > ul > li {
    letter-spacing: 1px;
}

.active {
    color: var(--dark-brown);
    background-color: var(--dirty-white);
    padding: 0.4rem 1.5rem;
    border-radius: 20px;
}

/* home page content */
#home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-content h1,
#home-content h2 {
    font-family: 'Garet', sans-serif;
}

#home-content h2  {
    font-size: 2rem;
}

#image-header,
#about,
#qualities,
#address {
    height: 80vh;
}

#image-header {
    background-image: url('./assets/images/imageHeader.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(87,39,19,.2);
}

#image-header > div {
    width: max-content;
    color: var(--dirty-white);
    position: absolute;
    top: calc(100vh - 41vh);
    left: calc(100vw - 36vw);
    line-height: 2;
}

#image-header h1 {
    font-size: 4rem;
}

#about,
#address {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about > div,
#address > div {
    width: 40%;
}

#about > div > p,
#address > div > p {
    font-size: 1.2rem;
    line-height: 1.5;
}

#about {
    padding: 3em 0 3em 5em;
}

#about > img,
#address > img {
    width: 50%;
}

#qualities {
    padding: 3em 5em;
    background-color: var(--tan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#qualities > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.quality > p {
    margin-top: 1rem;
}

.quality > img {
    width: 90%;
}

#address {
    padding: 3em 5em 3em 0;
}

#address > img {
    object-position: 50% 50%;
}

footer {
    color: var(--dirty-white);
    background-color: var(--dark-brown);
    padding: 1.2rem;
    text-align: center;
}

footer > a {
    color: var(--dirty-white);
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
}

/* media queries */